.header {
  display: flex;
  padding-top: 10px;
  background-color: #fff;

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(-60%);
    }
  }

  & .container {
    width: 100%;
    position: relative;
  }

  &-top {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
    }

    &-right {
      display: flex;
      align-items: center;

      &__button {
        margin-right: 28px;
      }
    }
  }

  &-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -100px;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: top 0.5s;
  }
}

@media screen and (max-width: 850px) {
  .header-top,
  .header-bot,
  .header-bot-fixed {
    display: none;
  }
  @keyframes slideDown {
    to {
      transform: translateY(0);
    }
  }
}

.header-bot-fixed {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 0.5s;
  z-index: 1001;
}

.header-mob-fixed {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  box-shadow: 5px 5px 5px 5px #d0d0d0;
  background-color: #fff;
  transition: 0.5s;
  z-index: 1000;
}

.header-bot-fixed .container {
  width: auto;
}

.header-bot-fixed.__show {
  top: 0;
}

.header-mob-fixed.__show {
  top: 0;
}

.header-mob-fixed .container {
  width: auto;
}
