.order-call-button {
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f7;
  border-radius: 28px;
  outline: none;
  border: none;
  color: #696f7a;
  font-weight: bold;
  font-size: 14px;
}