.info {
  background-color: #e3ecf5;
  padding: 56px 0 90px 0;

  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-title {
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: bold;
    color: #ffdc40;
    text-align: center;
  }
}
