.dishes-item__button {
  height: 36px;
  width: 126px;
  background-color: #f7d22d;
  color: #f3f3f7;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.35s;

  &:hover {
    background-color: #ffdc40;
    color: #231f20;
  }
}
