.header-bot-basket-dropdown {
  position: absolute;
  top: 99%;
  right: 0;
  background-color: #ffffff;
  width: 340px;
  border: 2px solid #ffdc40;
  border-radius: 10px;
  cursor: default;
  padding: 0 14px 0 24px;
  box-shadow: 0 0 10px 1px #949494;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.35s;
  pointer-events: none;
  z-index: 1;

  &::before {
    content: "";
    height: 40px;
    width: 40px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    height: 20px;
    width: 380px;
    background-color: transparent;
  }

  &-list {
    list-style: none;
    padding: 0 10px 0 0;
    margin: 10px 0 0 0 ;
    max-height: 320px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
  }
}

.header-bot-basket-button-inner:hover .header-bot-basket-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.header-bot-basket-dropdown-list {
  padding-right: 10px;
  overflow-y: auto;
}

.header-bot-basket-dropdown-list::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.header-bot-basket-dropdown-list::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.header-bot-basket-amount__info {
  width: 100%;
}
