.homeButton__link {
  display: inline-block;
  background-color: #f7d22d;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(184, 184, 184, 1);
}
