.basket-ordering-delivery {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  @media screen and (max-width: 600px) {
    max-width: 120px;
  }

  &-real-checkbox {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  &-fake-checkbox {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid #e2e2e9;
    border-radius: 7px;
    background-color: #fff;
    position: relative;

    &::before {
      content: "";
      height: 20px;
      width: 10px;
      border-bottom: 3px solid #f7d22d;
      border-right: 3px solid #f7d22d;
      position: absolute;
      top: 0px;
      left: 10px;
      transform: rotate(45deg);
      opacity: 0;
      transition: 0.35s;
    }
  }
}

.basket-ordering-delivery-real-checkbox:checked
  + .basket-ordering-delivery-fake-checkbox::before {
  opacity: 1;
}
