.header {
  &-mob {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width: 1200px) {
      display: flex;
    }
  }

  &-logo__img {
    height: 100px;
    width: 100px;
  }

  .mob-menu__btn {
    height: 30px;
    width: 40px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    & span {
      display: inline-block;
      background-color: #231f20;
      height: 4px;
      width: 40px;
      position: absolute;
    }

    & span:nth-child(1) {
      top: 0;
    }

    & span:nth-child(2) {
      top: 14px;
    }

    & span:nth-child(3) {
      bottom: 0;
    }

    & span:nth-child(1),
    & span:nth-child(2),
    & span:nth-child(3) {
      transition: 0.35s;
    }

    &.visible span:nth-child(1) {
      top: 10px;
      transform: rotate(45deg);
    }

    &.visible span:nth-child(2) {
      transform: translateX(-100px);
      opacity: 0;
    }

    &.visible span:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }
  }
}

.mob-menu {
  &-inner {
    display: flex;
    align-items: center;
  }
  &-basket-link {
    height: 50px;
    width: 70px;
    position: relative;

    &__img {
      height: 50px;
      width: 50px;
    }

    &__count {
      position: absolute;
      top: 2px;
      right: 18px;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7d22d;
      font-weight: bold;
      font-size: 18px;
      color: black;
    }
  }
}
