.category {
  &-inner {
    display: flex;
    flex-direction: column;
  }

  &-name {
    color: #f7d22d;
    font-size: 32px;
    font-weight: bold;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;

    @media screen and (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}

.dishes-list-item {
  margin: 10px 0;
}
